body {
  margin: 0 auto; /* Убираем отступы */
  margin: 0px 0px 0px 0px;
}

.parent {
  background: #e2edc1;
  width: 300px;
  height: 300px;
}

.parent2 {
  background: #e2edc1;
  width: 300px;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}

.child {
  background: #ccc;
  width: 50px;
  height: 50px;
}

.child2 {
  background: #eee;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.child3 {
  background: #eee;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.mypadding {
  background: #fc3;
  width: 270px;
  padding: 20px 15px 20px 15px;
  outline: 1px solid #000;
  outline-offset: -10px;
}

.mytext {
  color: #b5309e; /* Цвет текста */
  text-align: justify;
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  text-decoration: line-through; /* зачеркнет */
  text-decoration: underline; /* подчеркнет */
  text-decoration-color: #000; /* цвет подчеркивания */
  text-decoration-style: dashed; /* подчеркнуть пунктиром */
  text-transform: uppercase; /* верхний регистр */
  text-transform: lowercase; /* нижний регистр */
  text-indent: 20px; /* Устанавливает величину отступа первой строки блока текста */
  letter-spacing: 3px; /* отступ между символами */
  line-height: 1.8; /* высота между строк */
  word-spacing: 20px; /* Устанавливает интервал между словами */
  text-shadow: 3px 2px red; /* Добавляет тень к тексту */
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  word-wrap: break-word; /* Перенос слов */

  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.col { 
  background: #f0f0f0; /* Цвет фона */
  width: 230px; /* Ширина блока */
  padding: 10px; /* Поля */
  font-size: 1.5em; /* Размер шрифта */
  word-wrap: break-word; /* Перенос слов */ 
}

